<table class="table table-bordered">
  <thead>
    <tr>
      {{column-controls title="Submission Timestamp" sortDef="createdAt" onSort=(action "sortIssues")}}
      {{column-controls title="Customer Name" sortDef="userLogin" onSort=(action "sortIssues")}}
      {{column-controls title="Customer Email Address" sortDef="userEmail" onSort=(action "sortIssues")}}
      {{column-controls title="Description" sortDef="title" onSort=(action "sortIssues")}}
      {{column-controls title="Open/Closed Status" sortDef="state" onSort=(action "sortIssues")}}
      {{column-controls title="Closed Timestamp" sortDef="closedAt" onSort=(action "sortIssues")}}
      {{column-controls title="Employee Name" sortDef="assigneeLogin" onSort=(action "sortIssues")}}
    </tr>
  </thead>
  <tbody>
    {{#each sortedIssues as |issue|}}
      <tr>
        <td>{{issue.createdAt}}</td>
        <td>{{issue.userLogin}}</td>
        <td>{{issue.userEmail}}</td>
        <td>{{issue.title}}</td>
        <td>{{issue.state}}</td>
        <td>{{issue.closedAt}}</td>
        <td>{{issue.assigneeLogin}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
